

/*Hero-RE*/
.img-hero {
    max-width:100%;
}
.hero{
    max-height:50vw ;
}
.title-white{
    font-size: 5vw; 
    color:white;
}
.title-black{
    font-size: 5vw; 
    color:black;
}
.p-white{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
}
.p-black{
    color: black;
    font-size: 1.5vw;
    font-weight: bolder;
}
.btn-hero{
    background-color: transparent;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px;
    font-weight: bolder;
}
.btn-white{  
    border:2px solid white ;
    color: white;
}
.btn-white:hover{
    border:2px solid black ;
    color:black;   
}
.btn-black:hover{
    border:2px solid white ;
    color:white;   
}
.btn-black{
    border:2px solid black ;
    color: black;
}
@media (max-width:990px){
    .btn-hero{
    padding: 5px;   
    font-size: 10px;
    } 
}
@media (max-width:850px){
    .btn-hero{
    padding: 1px;  
    font-size: 8px; 
    }
}
@media (max-width:760px){
   
}
